/* file wwwroot/ css/site.css */
/* стили css */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 12px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: yellow; /* временный стиль для проверки */
}
/* добавляем стиль к странице Register.cshtml */
.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

.control-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.text-danger {
    color: #dc3545;
    font-size: 0.875em;
}

.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }
.timer {
    display: inline-block;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: rgb(65, 230, 110);
    border-radius: 5px;
    width: 100px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}